body {
    font-family: 'Nunito Sans', sans-serif !important;
    color: white !important;
    line-height: 20px;
}

body h2, h1 {
    text-transform: uppercase;
}

.tamano-logo {
    height: 180px;
    width: 95px;
    display: flex;
    margin-left: -66px;
    margin-right: 37px;
    margin-top: 9px;
}

.slider-nav ul {
    list-style: none;
    margin-top: 7px;
    padding: 0;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    width: 900px;
    justify-content: space-between;
}

.texto {
    text-align: center !important;
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    position: relative;
}
.texto:hover::after {
    background-color: rgb(202, 131, 38);
    position: absolute;
    content: "";
    width: 70%;
    height: 1px;
    bottom: 60px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.texto:hover{   
    color:rgba(255,255,255, 0.3);
    transition: ease .5s;
    /* border-bottom: solid 1px rgb(202, 131, 38); */
}
.slider-nav li {
    display: flex;
    text-align: center;
    justify-content: center;
}

.slider-nav a {
    font-size: 15px;
    text-decoration: none;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    display: flex;
    text-transform: uppercase;
}

.slider-nav {
    justify-content: center;
    display: flex;
    max-width: 2544px;
}

header .container {
    max-width: 2544px;
    height: 0;
}

#cuadro1 {
    margin: 0;
    padding: 0;
    height: 800px;
}

.box1 {
    background-image: url(img/01-sliders-home/slider-home-01.jpg);
    z-index: -1;
    display: flex;
    height: 800px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: left;
}

#san-carbon-slogan {
    height: 100px;
 
}
#san-carbon-slogan h1{
    display:flex;
    flex-direction: column;
}
 
div div div h1 {
    font-size: 2rem;
    margin-top: 200px;
    margin-left: 290px;
}

.arriba {
    font-weight: 100;
}

.abajo {
    font-weight: 900;
}

#segundo-cuadro {
    background-color: rgb(202, 131, 38);
    height: 370px;
    max-width: 100%;
    margin-bottom: -5px;
    display: flex;
}

#san-carbon-restaurante {
    display: flex;
    text-align: center;
    height: 370px;
    flex-direction: column;
    justify-content: center;
}

#titulo-restaurante {
    font-size: 13px;
    text-align: center;
    font-weight: bold;
}

#detalles-restaurante {
    font-size: 11px;
    text-align: center;
}

#tercer-cuadro-1 {
    z-index: -1;
    background-repeat: no-repeat;
    background-image: url(img/01-sliders-home/banner/0801-banner-home-01.jpg);
    height: 370px;
    background-size: 100% 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.padre {
    margin-top: 10px;
}

#tercer-cuadro-2 {
    z-index: -1;
    background-repeat: no-repeat;
    background-image: url(img/01-sliders-home/banner/0801-banner-home-02.jpg);
    height: 370px;
    background-size: 100% 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

#tercer-cuadro {
    display: inline-flex;
    height: 370px;
    max-width: 100%;
    padding: 0;
}

#tercer-cuadro h2 {
    color: rgb(202, 131, 38);
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    width: 400px;
}

#tercer-cuadro #junio h2 {
    text-align: justify;
}

#tercer-cuadro p {
    font-size: 15px;
    text-align: center;
}

#junio {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

#junio-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-top: 10px;
}

#junio-1 p {
    text-align: left;
    display: block;
    width: 400px;
}
.programacion{
color: white;
text-align: center;
font-size: 20px;
text-transform: uppercase;
height: 40px;
width: 53%;
display: flex;
justify-content: center;   
align-items: center; 
border: solid 1px rgb(202, 131, 38);
color: white;
}
.programacion a{
    color: white;
}

.programacion a:hover{
    color:rgba(255,255,255, 0.3);
}

#junio-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-top: 10px;
}
.reserva-ya{
    background-color:  rgb(202, 131, 38);
    height: 170px;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin-bottom: -10px;
    display: flex;
    max-width: 100%;
    align-items: center;
    align-content: center;
}
.reserva-ya-1{
    padding: 0;
    margin: 20px;
    display: inline-flex;
    max-width: 100%;
    border: 1px solid white;
    height: 75%;
    text-align: center;
    align-content: center;
    justify-items: center;
}
.reserva-ya-1 a{
    color: white;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;   
    align-items: center;
}
.reserva-ya-1 a:hover{
    color:rgba(255,255,255, 0.3);
    text-decoration: none;
    transition: ease .5s;
}
footer{
    background-color: rgb(87, 22, 22);
}
#footer-1{
    display: inline-flex;
    max-width: 100%;
}
.tamano-logo-1{
    height: 180px;
    width: 95px;
   margin:80px auto;
}
.foot{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.flogo{
    display: flex;
    justify-content: center;
}
.foot-1{
    width:33.33%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.foot-1 li{
    list-style: none;
    margin: 30px auto;
}
.foot-1 .abajo{
    margin: 20px auto;
    justify-content:center;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align:center;
}
footer li a{
    font-size:15px;
    color: white;
   
}
footer li a:hover{
    color:rgba(255,255,255, 0.3);
    text-decoration: none;
    transition: ease .5s;
}
footer{
    height: 800px;
}
.foot-2{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:  20px !important;
    padding: 15px !important;
}
.flogo-1{
    display: flex;
    justify-content: center;
}
.tamano-logo-2{
    height: 180px;
    width: 300px;
    margin:80px auto;
}
.derechos{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
#lm{
    height: 30px;
    width: 45px;
}
.redes-sociales{
    height: 45px !important;
    width: 45px !important;
    margin: 30px;
}
#social{
    display: flex;
    justify-content: center;
}
#social-1{
    display:flex;
    justify-content: center;
}
.foot-2 p{
    text-align: center;
}