body{
    font-family: 'Nunito Sans', sans-serif !important;
    color: white !important;
}
 .tamano-logo{
     height: 180px;
     width: 95px;
     display: flex;
     margin-left:-66px;
     margin-right: 37px;
     margin-top:9px;
 }

.slider-nav ul {
    list-style: none;
    margin-top: 7px;
    padding: 0;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    width: 900px;
    justify-content: space-between;
}

.texto {
    text-align: center !important;
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    position: relative;
}
.texto:hover::after {
    background-color: rgb(202,131,38);
    position: absolute;
    content: "";
    width: 70%;
    height: 1px;
    bottom: 80px;
    margin: 0 auto;
    left: 0;
    right: 0;
    
}
.slider-nav li {
    display: flex;
    text-align: center;
    justify-content: center;
}

.slider-nav a {
    font-size: 15px;
    text-decoration: none;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    display: flex;
}

.slider-nav {
    justify-content: center;
    display: flex;
    max-width: 2544px;
}

header .container {
    max-width: 2544px;
    height: 0;
}

#cuadro1 {
    margin: 0;
    padding: 0;
    height: 800px;
}

.box1 {
    background-image: url(img/01-sliders-home/slider-home-01.jpg);
    z-index: -1;
    display: flex;
    height: 800px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: left;
}
#san-carbon-slogan{
    height:100px;
    
}
div div div h1 {
    font-size: 2rem;
    margin-top:200px;
    margin-left:290px;
}
.arriba{
font-weight:100;
}
.abajo{
font-weight:900;}

#segundo-cuadro{
    background-color: rgb(202,131,38);
    height:370px;
    padding-top:30px;
    z-index: 1;
}
#san-carbon-restaurante{
    text-align: center;
    padding-top: 25px;
    height:500px;
}
#titulo-restaurante{
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    padding-top: 25px;
}
#detalles-restaurante{
    font-size: 11px;
    text-align: center;
    padding-right:130px; 
    padding-left: 130px;
    padding-top: 20px;
}
.box3 {
    background-color: brown;
    height: 20px;
    z-index: -1;
}